.Burger{
    width:80%;
    margin:auto;
    height: 200px;
    text-align: center;
    overflow-y: auto;
    font-weight: bold;
    font-size: 1.2rem;
    box-sizing: content-box;
}

@media (min-width:500px) and (min-height:401px){
    .Burger{
        width:350px;
        height: 300px;
    }
}

@media (min-width:700px) and (min-height:601px){
    .Burger{
        width:550px;
        height: 400px;
    }
}

@media (min-width:1000px) and (min-height:700px){
    .Burger{
        width:600px;
        height:450px;
    }
}

